@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

.conteiner {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 300px;
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    padding: 10px;
}

.caixa2 {
    background-color: green;
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
    padding: 10px;
}

.caixa3{
    background-color: blue;
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
    padding: 10px;
}

.caixa4 {
    background-color: blueviolet;
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    padding: 10px;
}

.caixa5 {
    background-color: yellow;
    grid-area: 4 / 1 / 5 / 3;
    text-align: center;
    padding: 10px;
}