@charset "UTF-8";

.conteiner {
    display: grid;
    grid-template-rows: repeat(9, 100px);
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: red;
    grid-row: 1 / 3;
    grid-column: 1 / 11;
    text-align: center;
}

.caixa2 {
    background-color: green;
    grid-row: 3;
    grid-column: 1 / 11;
    text-align: center;
}

.caixa3{
    background-color: blue;
    grid-row: 4 / 9;
    grid-column: 1 / 7;
    text-align: center;
}

.caixa4 {
    background-color: blueviolet;
    grid-row: 4 / 9;
    grid-column: 7 / 11;
    text-align: center;
}

.caixa5 {
    background-color: yellow;
    grid-row: 9;
    grid-column: 1 / 11;
    text-align: center;
}